extends _layout
block content
  header
    .container
      | header
  //- #eyecatch
  //-   | eyecatch
  main
    //- .container.clearfix
    .container.clear
      #left Left
      #right Right
      //- div(style="clear:both;")
  footer
    .container
      | footer