extends _layout
block content
  header
    .container
      ul#menu
        li: a(href="#") Menu 1
        li: a(href="#") Menu 2
        li: a(href="#") Menu 3

  main
    .container
      .product
        img(src="http://placehold.it/80x80/27709b/ffffff")
        span.price $100.00
      ul#lessons
        li.clearfix
          .lesson_img
            img(src="http://placehold.it/50x50/27709b/ffffff")
          .lesson_info
            h2 HTML入門
            p Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. 
        li.clearfix
          .lesson_img
            img(src="http://placehold.it/50x50/27709b/ffffff")
          .lesson_info
            h2 HTML入門
            p Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. 
        li.clearfix
          .lesson_img
            img(src="http://placehold.it/50x50/27709b/ffffff")
          .lesson_info
            h2 HTML入門
            p Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. Intoro to HTML. 

  footer
    .container
      | footer