extends _layout
block content
  header
    .container
      ul#menu
        li: a(href="#") Menu 1
        li: a(href="#") Menu 2
        li: a(href="#") Menu 3
  main
    .container
      .product
        img(src="http://placehold.it/80x80/27709b/ffffff")
        span.price $100.00
  footer
    .container
      | footer